<!--Barra de navegacion-->
<app-navbar></app-navbar>

<!--Header-->
<app-encabezado></app-encabezado>

<!--Sección Sobre Mí-->
<app-sobre-mi ></app-sobre-mi>

<!--Sección Experiencia-->
<app-experiencia [listaExpe]="miPort.experiencias"></app-experiencia>

<!--Sección Educación-->
<app-educacion [listaEdu]="miPort.educaciones"
                [IdPerso]="IdPersona">
</app-educacion>

<!--Sección Habilidades-->
<app-habilidades [listaHabTecnica]="miPort.habilidadesTecnicas"
                 [listaHabBlanda]="miPort.habilidadesBlandas">
</app-habilidades>

<!--Sección Proyectos-->
<app-proyectos [listaProyectos]="miPort.proyectos"></app-proyectos>

<!--Pie de página-->
<app-footer></app-footer>

