<!--Barra de navegacion-->
<app-navbar></app-navbar>

<!--Header-->
<app-encabezado></app-encabezado>

<!--Sección Sobre Mí-->
<app-sobre-mi ></app-sobre-mi>

<!--Sección Experiencia-->
<app-experiencia
    [isLogged]="isLogged"    
    [idPerso]="miPortfolio.id"
    [listaExpe]="miPortfolio.experiencias"
    (recargandoPortfolio)="cargarVista()">
</app-experiencia>

<!--Sección Educación-->
<app-educacion
    [isLogged]="isLogged"
    [idPerso]="miPortfolio.id"
    [listaEdu]="miPortfolio.educaciones"
    (recargandoPortfolio)="cargarVista()">
</app-educacion>

<!--Sección Habilidades-->
<app-habilidades 
    [isLogged]="isLogged"
    [idPerso]="miPortfolio.id"    
    [listaHabTecnica]="miPortfolio.habilidadesTecnicas"
    [listaHabBlanda]="miPortfolio.habilidadesBlandas"
    (recargandoPortfolio)="cargarVista()">
</app-habilidades>

<!--Sección Proyectos-->
<app-proyectos
    [isLogged]="isLogged"
    [idPerso]="miPortfolio.id"
    [listaProyectos]="miPortfolio.proyectos"
    (recargandoPortfolio)="cargarVista()">
</app-proyectos>

<!--Pie de página-->
<app-footer></app-footer>

