<!--Barra de navegacion-->
<nav class="navbar py-0 navbar-expand-sm navbar-dark bg-dark" id="barraNavegacion">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
            <img id="ap-logo" style="width:6em" src="assets/APLogo-20-20.png" alt="Logo Argentina Programa">
        </a>
        <!--Links-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavBar">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end m-2" id="collapsibleNavBar">
            <ul class="navbar-nav me-2">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/soledad-sasia/" target="_blank"><i class="bi bi-linkedin" style="font-size: 2rem"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/SoleSasia" target="_blank"><i class="bi bi-github" style="font-size: 2rem"></i></a>
                </li>
            </ul>
            <form class="d-flex">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>
