<!--Barra de navegacion-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="barraNavegacion">
    <div class="container-fluid flex-wrap flex-md-nowrap">
        <a class="navbar-brand p-0 me-2" href="https://argentinaprograma.inti.gob.ar">
            <img style="width:6em" src="assets/APLogo-20-20.png" alt="Argentina Programa">
        </a>
        <!--Links-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavBar">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavBar">
            <ul class="navbar-nav flex-row flex-wrap">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="#">Sobre mí</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link" href="#">Habilidades</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="#">Proyectos</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link navIcon" href="https://www.linkedin.com/in/soledad-sasia/" target="_blank">
                        <i class="bi bi-linkedin"></i>
                        <small class="d-md-none ms-2">Linkedin</small>
                    </a>
                    
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link navIcon" href="https://github.com/SoleSasia" target="_blank">
                        <i class="bi bi-github"></i>
                        <small class="d-md-none ms-2">GitHub</small>
                    </a>
                    
                </li>
            </ul>
            <form class="d-flex py-2">
                    <button class="btn btn-outline-secondary" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>
