<section id="proyectos" class="info-section container-fluid">

    <div class="title-section py-2 d-flex justify-content-between align-items-center">
        <span class="edit-icon">
            <button class="btn-outline-danger">
                <i class="bi bi-plus-circle-fill d-flex justify-content-end"></i>
            </button>
            
        </span>
        <h2>Proyectos</h2>
    </div>
    <p>Algo de lo que hago</p>

    <ul class="row justify-content-center list-unstyled mt-3">
        
        <li *ngFor="let proye of listaProyectos" class="col-sm-6">
            <div class="card shadow">
                
                <div class="">
                    <img class="card-img img-fluid" [src]="proye.imgUrl" alt="">
                </div>
                <div class="card-body">
                    
                    <div class="card-title d-flex justify-content-between align-items-center">
                        <h5 class="col-sm-10 fw-bold">{{proye.nombreProye}}</h5>
                        <span class="col-sm-2 edit-icon p-1 justify-content-between">
                            <button class="btn-outline-danger">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="btn-outline-danger">
                                <i class="bi bi-x-circle-fill"></i>
                            </button>
                        </span>
                    </div>
                    <p class="card-text">{{proye.descripcionProye}}</p>
                    <div class="gap-2 d-flex justify-content-end">
                        <a [href]="proye.liveUrl" target="_BLANK" class="btn btn-outline-secondary">Live</a>
                        <a [href]="proye.repoUrl" target="_BLANK" class="btn btn-secondary"><i class="bi bi-github"></i> Repo</a>
                    </div>
                </div>
            </div>
        </li>       
    </ul>
    
</section>
