<section id="Proyectos" class="info-section container-fluid">

    <div class="title-section py-2 d-flex justify-content-between align-items-center">
        <span class="edit-icon">
            <i class="bi bi-plus-circle-fill d-flex justify-content-end"></i>
        </span>
        <h2>Proyectos</h2>
    </div>
    <p>Algo de lo que hago</p>

    <div class="row justify-content-center mt-3">
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="">
                    <img class="card-img img-fluid" src="../../../assets/Proyecto1.png" alt="Portfolio personal">
                </div>
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between align-items-center">
                        <h5 class="fw-bold">Proyecto Argentina Programa #YoProgramo</h5>
                        <span class="edit-icon p-1 justify-content-between">
                            <i class="bi bi-pencil-fill"></i><i class="bi bi-x-circle-fill"></i>
                        </span>
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et porro totam sunt pariatur animi sit ullam, unde sapiente voluptate rerum illum placeat fugiat aliquam, voluptatibus nostrum inventore fugit</p>
                    <div class="gap-2 d-flex justify-content-end">
                        <a href="https:" target="_BLANK" class="btn btn-outline-dark">Al sitio</a>
                        <a href="https://" target="_BLANK" class="btn btn-outline-secondary">Repositorio</a>
                    </div>
                    </div>
            </div>
        </div>       
    </div>
    
</section>
