    <!--Header-->
    <app-encabezado></app-encabezado>

    <!--Contenido de la página-->
    <main id="main" class="bg-light">

    <!--Sección Sobre Mí-->
    <app-sobre-mi></app-sobre-mi>

    <!--Sección Experiencia y Educación-->
    <app-experiencia-y-educacion></app-experiencia-y-educacion>

    <!--Sección Habilidades-->
    <app-habilidades></app-habilidades>

    <!--Sección Proyectos-->
    <app-proyectos></app-proyectos>

    <!--Sección Contacto-->
    <app-contacto></app-contacto>

    </main>

    <footer class="footer py-3 bg-dark">
    <div class="container-fluid">
        
    </div>
    </footer>