<section id="sobreMi" class="info-section container-fluid">
        <span class="edit-icon">
            <i class="bi bi-plus d-flex justify-content-end"></i>
        </span>
        <div class="title-section py-2 d-flex justify-content-between align-items-center">
            <h2>Sobre mí</h2>
            <span class="edit-icon p-1 justify-content-between">
                <i class="bi bi-pencil-fill"></i>
                <i class="bi bi-x-circle-fill"></i>
            </span>
        </div>
        <p class="h5">Lorem ipsum dolor sit amet, nonumes voluptatum mel ea, cu case ceteros cum. Novum commodo malorum vix ut. Dolores consequuntur in ius, sale electram dissentiunt quo te. Cu duo omnes invidunt, eos eu mucius fabellas. Stet facilis ius te, quando voluptatibus eos in. Ad vix mundi alterum, integre urbanitas intellegam vix in.</p>
</section>
