<section id="sobreMi" class="info-section container-fluid">

    <div class="row align-items-center">
        <div class="foto-perfil py-3 col-sm-4">
            <img id="fotoPerfil" class="img-fluid" [src]="persona.imgUrl" alt="Foto de perfil">
        </div>
        <div class="col-sm-8">
            <div class="title-section py-2 d-flex justify-content-between align-items-center">
                <h2>Sobre mí</h2>
                <span class="edit-icon p-1">
                    <button class= btn-outline-danger aria-label="Editar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>                    
                </span>
            </div>
            <p class="h4">{{persona.descripcion}}</p>
        </div>
    </div>

</section>
