<section id="sobreMi" class="info-section container-fluid">

    <span class="edit-icon">
        <i class="bi bi-plus d-flex justify-content-end"></i>
    </span>

    <div class="row align-items-center">
        <div class="foto-perfil py-3 col-sm-4">
            <img class="img-fluid" [src]="miportfolio.url_foto" alt="">
        </div>
        <div class="col-sm-8">
            <div class="title-section py-2 d-flex justify-content-between align-items-center">
                <h2>Sobre mí</h2>
                <span class="edit-icon p-1">
                    <i class="bi bi-pencil-fill"></i>
                    <i class="bi bi-x-circle-fill"></i>
                </span>
            </div>
            <p class="h5">{{miportfolio.descripcion}}</p>
        </div>
    </div>

</section>
