<section id="heroBanner" class="hero-container d-flex align-items-center">

    <form [formGroup]="form" class="shadow col-sm-6 p-4 m-auto">

        <div class="modal-body">
            <div class="my-3">
                <input type="text" 
                placeholder="Nombre de usuario"
                formControlName="username" 
                class="form-control" 
                [ngClass]="{'is-invalid': Username?.errors && Username?.touched, 'is-valid': !Username?.errors && Username?.touched}">
                <div *ngIf="Username?.errors && Username?.touched">
                    <p *ngIf="Username?.hasError('required')" class="text-danger">El nombre de usuario es requerido</p>
                </div>
            </div>

            <div class="my-3">
                <input type="password"
                placeholder="Contraseña"
                formControlName="password" 
                class="form-control"
                [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">
                <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerida</p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="close" class="btn btn-outline-secondary">Cancelar</button>
            <button type="submit" class="btn btn-secondary">Entrar</button>
        </div>

    </form>

</section>
