<!-- Modal Agregar Educacion -->
<div class="modal fade" id="agregarEdu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Agregar elemento a Educación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="tituloEdu" class="form-label">Título</label>
                <input type="text" [(ngModel)]="educacion.tituloEdu" class="form-control" id="tituloEdu" placeholder="">
            </div>
            <div class="mb-3">
                <label for="periodoEdu" class="form-label">Período</label>
                <input type="text" [(ngModel)]="educacion.periodoEdu" class="form-control" id="periodoEdu" placeholder="">
            </div>
            <div class="mb-3">
                <label for="nombreInstituEdu" class="form-label">Nombre de la institución</label>
                <input type="text" [(ngModel)]="educacion.nombreInstituEdu" class="form-control" id="nombreInstituEdu" placeholder="">
            </div>
            <div class="mb-3">
                <label for="descripcionEdu" class="form-label">Información adicional</label>
                <textarea [(ngModel)]="educacion.descripcionEdu" class="form-control" id="descripcionEdu" rows="3" placeholder="Breve descripción..."></textarea>
            </div>
            <div class="mb-3">
                <label for="urlLogoEdu" class="form-label">Url del logotipo</label>
                <input type="text" [(ngModel)]="educacion.urlLogoEdu" class="form-control" id="urlLogoEdu" placeholder="">
            </div>
      
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>-->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id=botonAgregar (click)="doAgregar()">Agregar</button>
        </div>
        </div>
    </div>
</div>
