html {
	font-family: "source sans pro", sans-serif;
}

h1 {
	font-family: "julius sans one", sans-serif;
}

h2, h3 {
	font-family: "archivo narrow", sans-serif;
}

.info-section {
	padding: 1rem 4rem;
	margin: 1rem;
}

@media (max-width: 575.98px) { 
	.info-section {
		padding: .5rem 2rem;
		margin: 1rem
 	}
}

.title-section {
	color:#38536e
}
/*Estilo botones de edición*/
.edit-icon {
	color: red;
}

.edit-icon:hover {
	cursor: pointer;
}

.bi {
    padding: 0.1rem;
}

.bi-plus-circle-fill {
	margin-bottom: 0.5rem;
}

/*Sobre-escribo estilo modales*/
.modal-title {
	color:#38536e;
}

.modal-footer .btn-secondary {
	background-color: #38536e;
	border-color: #38536e;
}