h1 {
	font-family: "julius sans one", sans-serif;
}

h2 {
	font-family: "archivo narrow", sans-serif;
}

h3, h4, h5, h6, p {
	font-family: "source sans pro", sans-serif;
}

.info-section {
	padding: 2rem 4rem;
	margin: 1rem;
}

.title-section {
	color:#304860
}
