<section id="experiencia" class="info-section container-fluid">
    

    <div class="title-section py-2 d-flex justify-content-between align-items-center">
        <span class="edit-icon">
            <button class="btn-outline-danger">
                <i class="bi bi-plus-circle-fill d-flex justify-content-end"></i>
            </button>
        </span>
    
        <h2>Experiencia Laboral</h2>
    </div>

    <ul *ngFor="let exp of experiencia" class="row justify-content-center list-unstyled mt-3">
        
        <li class="card shadow mb-3">
            <div class="row">
                <div class="col-sm-8 card-body">
                    <div class="card-title d-flex justify-content-between align-items-center">
                        <h4 class="py-1">{{exp.nombreOrganismo}}</h4>
                        <span class="edit-icon p-1 justify-content-between">
                            <button class="btn-outline-danger">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="btn-outline-danger">
                                <i class="bi bi-x-circle-fill"></i>
                            </button>
                        </span>
                    </div>
                    <div>
                        <h6>{{exp.fechaInicio}} - {{exp.fechaFin}}</h6>
                        <p class="card-text pt-1">{{exp.descripcion}}</p>
                    </div>
                </div>
                <div class="col-sm-4 d-flex align-items-center">
                    <img class="card-img m-1 img-fluid" [src]="exp.urlLogo" alt="">
                </div>
            </div>
        </li>
        
    </ul>

</section>

